.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.application-fill           { fill: #00B0DA   ; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#activate-button #text {
  text-buffer: "ACTIVATE";
}

#color-mode-button #text {
  text-buffer: "COLOR: PICK";
}

#lightness-mode-button #text {
  text-buffer: "LIGHTNESS: CONTROL";
}